@model IEnumerable<retailMvcDemo.Models.CustomerEntity>
@{
    ViewData["Title"] = "Customers";
}
<h2>Customers</h2>

<p>
    <a asp-action="Create" class="btn btn-sm btn-success">Create Customer</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>City</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.FirstName @c.LastName</td>
                <td>@c.Email</td>
                <td>@c.Phone</td>
                <td>@c.City</td>
                <td>
                    <a asp-action="Details" asp-route-pk="@c.PartitionKey" asp-route-rk="@c.RowKey">Details</a> |
                    <a asp-action="Edit" asp-route-pk="@c.PartitionKey" asp-route-rk="@c.RowKey">Edit</a> |
                    <a asp-action="Delete" asp-route-pk="@c.PartitionKey" asp-route-rk="@c.RowKey">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
